.Projects {
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pagination {
    position: relative;
    right: 0;
    top: 0em;
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}

.MobileTitle {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}