.Projects {
    height: 50%;
    width: 100%;
    padding: 25% 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pagination {
    position: relative;
    right: 0;
    top: 0em;
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}

@media (pointer: coarse) { 
    .Swiper {
        padding-bottom: 20vh;
    }
}