.Card {
    width: 400px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: white;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin: 10px;
}

.Card:hover .Background {
    background-position-y: -90px;
    width: 50%;
}

.Picture {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #272133;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    z-index: 100;
}

.Background {
    background-image: url("../../assets/background.png");
    width: 100%;
    height: 190px;
    top: 0;
    position: absolute;
    background-position-y: -20px;
    background-size: cover;
    transition: all 300ms ease-in-out;
}

.BackgroundContainer {
    width: 250%;
    height: 190px;
    display: flex;
    justify-content: center;
    background-color: black;
    top: 0;
    position: absolute;
}

.TextShadow {
    text-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}

.Title {
    font-size: 1.5em;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-transform: capitalize;
}