.Card {
    width: 400px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: white;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin: 10px;
    transition: all 300ms ease-in-out;
}

.Card:hover {
    color: white;
}

.Card:hover .BackgroundContainer {
    height: 550px;
}

.Picture {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #272133;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    z-index: 100;
}

.Background {
    background-image: url("../../assets/background.png");
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-position-x: 50%;
    background-position-y: 0px;
    background-size: cover;
}

.BackgroundContainer {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    background-color: black;
    top: 0;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.TextShadow {
    text-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transition: all 300ms ease-in-out;
}

.Card:hover .TextShadow {
    text-shadow: 10px 10px 15px rgba(0,0,0,0);
}

.Title {
    font-size: 1.5em;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.Card:hover .Title {
    border-bottom: 1px solid white;
}

p {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-transform: capitalize;
}

.Overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0px;
    top: 190px;
    display: flex;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.OverlayEnterActive {
    height: 360px;
}

.OverlayEnterDone {
    height: 360px;
}

.OverlayExitActive {
    height: 0px;
}

.OverlayExitDone {
    height: 0px;
}

.Icons {
    display: block;
    opacity: 0;
    margin-top: 40px;
    transition: all 250ms ease-out;
}

.IconsEnterActive {
    opacity: 1;
    margin-top: 80px;
}

.IconsEnterDone {
    opacity: 1;
    margin-top: 80px;
}

.IconsExitActive {
    opacity: 0;
}

.IconsExitDone {
    opacity: 0;
}

.Socials {
    width: 40px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    color: black;
    margin-bottom: 5px;
    display: flex;
    line-height: 40px;
    transition: background-color 200ms ease-in-out;
}

.Socials:hover  p{
    transform: translateX(5px);
}

.Socials:hover {
    background-color: #eee;
}

.SocialsEnterActive:nth-child(1) {
    animation: SocialExpand 400ms ease-in-out 0ms forwards;
}

.SocialsEnterActive:nth-child(2) {
    animation: SocialExpand 400ms ease-in-out 100ms forwards;
}

.SocialsEnterActive:nth-child(3) {
    animation: SocialExpand 400ms ease-in-out 200ms forwards;
}

.SocialsEnterActive:nth-child(4) {
    animation: SocialExpand 400ms ease-in-out 300ms forwards;
}

.SocialsEnterActive:nth-child(5) {
    animation: SocialExpand 400ms ease-in-out 400ms forwards;
}

.SocialsEnterActive:nth-child(1) p {
    animation: Fade 300ms ease-in-out 400ms forwards;
}

.SocialsEnterActive:nth-child(2) p {
    animation: Fade 300ms ease-in-out 500ms forwards;
}

.SocialsEnterActive:nth-child(3) p {
    animation: Fade 300ms ease-in-out 600ms forwards;
}

.SocialsEnterActive:nth-child(4) p {
    animation: Fade 300ms ease-in-out 700ms forwards;
}

.SocialsEnterActive:nth-child(5) p {
    animation: Fade 300ms ease-in-out 800ms forwards;
}

.SocialsExitActive {
    animation-name: SocialExpand;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.Socials p {
    margin: 0 20px;
    text-transform: none;
    opacity: 0;
    font-size: 1.15em;
    transition: transform 200ms ease-in-out;
}

@keyframes SocialExpand {
    0% {
        width: 40px;
    }
    25% {
        width: 40px;
    }
    100% {
        width: 250px;
        cursor: pointer;
    }
}

@keyframes Fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        cursor: pointer;
    }
}

.Socials img {
    width: auto;
    height: 100%;
}