.PanelsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
}
/* we need to use black background or the background image will have ugly white corners */
.Panel {
    background-color: black;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: auto;
    pointer-events: all;
    box-shadow: 0 0 3rem 20px rgba(0,0,0, 0.5);
}
/* rotate(0.0001deg) fixes very weird transition jumping glitch */
.PanelGroup {
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-125%) rotate(0.0001deg);
    transition: transform 1ms 450ms ease-in-out;
}

.PanelGroupActive {
    transform: translateX(0%) rotate(0.0001deg);
    transition: transform 900ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.PanelWide {
    width: 55%;
    transform: translateX(115%) rotate(0.0001deg);
    transition: transform 1ms 450ms ease-in-out;
}

.PanelWideActive {
    transform: translateX(0%) rotate(0.0001deg);
    transition: transform 900ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.PanelThin {
    width: 100%;
    height: 35%;
}

.PanelThin:nth-child(2) {
    width: 100%;
    height: 55%;
}

.Table {
    font-weight: 600;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    display: block;
}

.Filler {
    background-color:#465AA6;
    flex-grow: 1;
}

thead, thead tr, tbody {
    display: block;
    width: 100%;
}

thead {
    /* background-image: url("../../../assets/background.png"); */
    background-color: #2B3866;
}

thead tr {
    color: white;
}

td {
    word-break: break-word;
    width: 50%;
    color: rgba(0, 0, 0, 0.55);
    padding: 0.5em;
    padding-left: 1em;
    color: #ccc;
}

tr {
    display: flex;
    border-bottom: 1px solid #364680;
}

tbody tr {
    background-color: #465AA6;
}

tr:last-child {
    border: none;
}

.PanelsContainer .PanelGroup .PanelThin:first-child .Table:first-child tbody tr:last-child {
    padding-bottom: 0;
}

.PanelsContainer .Table tbody tr:last-child {
    padding-bottom: 25px;
}

th {
    text-align: left;
    width: 100%;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 1.25em;
    border-bottom: 2px solid black;
    text-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    backface-visibility: hidden;
}

.THeadingEnterActive {
    animation: THeadingEnabled 1750ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.THeadingEnterDone {
    transform: translateX(0%);
}

.THeadingExitActive {
    animation: THeadingDisabled 500ms ease-in-out;
}

.THeadingExitDone {
    transform: translateX(0%);
    opacity: 0;
}

@keyframes THeadingEnabled {
    0% {
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes THeadingDisabled {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.TBodyQuals td {
    width: 100%;
}