.PanelsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
/* we need to use black background or the background image will have ugly white corners */
.Panel {
    background-color: black;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: auto;
    pointer-events: all;
    box-shadow: 0 0 3rem 20px rgba(0,0,0, 0.5);
}
/* rotate(0.0001deg) fixes very weird transition jumping glitch */
.PanelGroup {
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-130%) rotate(0.0001deg);
    transition: transform 1ms 450ms ease-in-out;
}

.PanelGroupActive {
    transform: translateX(0%) rotate(0.0001deg);
    transition: transform 900ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.PanelWide {
    width: 54%;
    transform: translateX(115%) rotate(0.0001deg);
    transition: transform 1ms 450ms ease-in-out;
}

.PanelWideActive {
    transform: translateX(0%) rotate(0.0001deg);
    transition: transform 900ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.PanelThin {
    width: 100%;
    height: 35%;
}

.PanelThin:nth-child(2) {
    width: 100%;
    height: 55%;
}

.Table {
    font-weight: 600;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    display: block;
}

.Filler {
    background-color:#465AA6;
    flex-grow: 1;
}

thead, thead tr, tbody {
    display: block;
    width: 100%;
}

thead {
    /* background-image: url("../../../assets/background.png"); */
    background-color: #2B3866;
}

thead tr {
    color: white;
}

td {
    word-break: break-word;
    width: 50%;
    color: rgba(0, 0, 0, 0.55);
    padding: 0.5em;
    padding-left: 1em;
    color: #ccc;
}

tr {
    display: flex;
    border-bottom: 1px solid #364680;
}

tbody tr {
    background-color: #465AA6;
}

tr:last-child {
    border: none;
}

.PanelsContainer .PanelGroup .PanelThin:first-child .Table:first-child tbody tr:last-child {
    padding-bottom: 0;
}

.PanelsContainer .Table tbody tr:last-child {
    padding-bottom: 25px;
}

th {
    text-align: left;
    width: 100%;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 1.25em;
    border-top: 2px solid black;
    text-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    backface-visibility: hidden;
    transition: transform 700ms ease-in-out;
}

.Panel .Table:first-child th {
    border: none;
}

.THeadingEnterActive {
    transform: translateX(-100%);
}

.THeadingEnterDone {
    transform: translateX(0%);
}

.THeadingExitActive {
    transform: translateX(0%);
}

.THeadingExitDone {
    transform: translateX(0%);
}

.TBodyQuals td {
    width: 100%;
}

@media (pointer: coarse) {
    .PanelsContainer {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    .Panel {
        background-color: black;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        overflow: auto;
        pointer-events: all;
        box-shadow: 0 0 3rem 5px rgba(0,0,0, 0.5);
    }

    .PanelGroup {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        transform: translateX(0%) rotate(0deg);
    }
    
    .PanelWide {
        width: 95%;
        height: auto;
        transform: translateX(0%) rotate(0deg);
    }

    .PanelThin {
        width: 100%;
        height: auto;
        margin-bottom: 3vh;
    }
    
    .PanelThin:nth-child(2) {
        width: 100%;
        height: auto;
    }
}