@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
}

#root {
    pointer-events: none;
}

.swiper-button-prev, .swiper-button-next {
    color: rgba(255, 255, 255, 0.7) !important;
}