.title {
    position: absolute;
    top: 2.5%;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    position: relative;
    display: inline-block;
    line-height: 1em;
}

.line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: 0.5 0;
}

.letters {
    display: inline-block;
    opacity: 1;
    padding: 0.25em 0;
}